<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="List restaurant">
    <meta name="theme-color" content="#212121"/>
  
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-128x128.png">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>Restaurant Apps</title>
  </head>
  <body>
    
    <button href="#mainContent" class="skip-link">Menuju ke konten</button>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Restaurant Apps</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li class="nav__item"><a href="/#/">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/ediEastfield">About Us</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="hero"></div>
  
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>Copyright &#169; 2023 - Restaurant Apps</p>
    </footer>

  </body>
</html>
